.cache
.classpath
.idea
.metadata
.settings
.project
target
.version.properties
git.properties
dependencies.properties
.flattened-pom.xml
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
*.ipr
*.iws
*.dat
*.orc
*.crc
logs/
